<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MesMapper">
  <resultMap id="BaseResultMap" type="entity.Mes">
    <id column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="realName" jdbcType="VARCHAR" property="realname" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    mobile, type, sex, realName, description, tel, email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mes
    where mobile = #{mobile,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mes
    where mobile = #{mobile,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="entity.Mes">
    insert into mes (mobile, type, sex, 
      realName, description, tel, 
      email)
    values (#{mobile,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.Mes">
    insert into mes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mobile != null">
        mobile,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="realname != null">
        realName,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Mes">
    update mes
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realName = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where mobile = #{mobile,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Mes">
    update mes
    set type = #{type,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      realName = #{realname,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR}
    where mobile = #{mobile,jdbcType=VARCHAR}
  </update>
  <select id="selectAllMes" resultMap="BaseResultMap">
    select * from mes where mobile > -1000000
  </select>
</mapper>